<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>LP2A4</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CadastraAlunoController</display-name>
    <servlet-name>CadastraAlunoController</servlet-name>
    <servlet-class>controllers.CadastraAlunoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastraAlunoController</servlet-name>
    <url-pattern>/CadastraAlunoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscarAlunoController</display-name>
    <servlet-name>BuscarAlunoController</servlet-name>
    <servlet-class>controllers.BuscarAlunoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscarAlunoController</servlet-name>
    <url-pattern>/BuscarAlunoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlterarAlunoController</display-name>
    <servlet-name>AlterarAlunoController</servlet-name>
    <servlet-class>controllers.AlterarAlunoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterarAlunoController</servlet-name>
    <url-pattern>/AlterarAlunoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AtualizarAlunoController</display-name>
    <servlet-name>AtualizarAlunoController</servlet-name>
    <servlet-class>controllers.AtualizarAlunoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AtualizarAlunoController</servlet-name>
    <url-pattern>/AtualizarAlunoController</url-pattern>
  </servlet-mapping>
</web-app>